 <h1>Hello Hooman, This is <%= @doge.dogeName %> Doge</h1>
<h2>I have been wowing for <%= @doge.age%> year(s)</div>
<h3>Such detail: <%= @doge.detail %> </h3>

<%= button_to "Edit my wows", edit_user_doge_path, method: :get%>
<%= button_to 'Delete me 😢 no more wows', user_doge_path , method: :delete, data: {confirm: "Are you sure you want to delete #{@doge.dogeName}?" } %>