<h2>Hello Hooman, This is <%= @doge.dogeName %> Doge</h2>
<h2>I have been wowing for <%= @doge.age%> year(s)</h2>
<h2>Such detail: <%= @doge.detail %> </h2>

<%=form_for @doge, url: "/doges/#{@doge.id}/" do |f|  %>
  <%= f.hidden_field :pictureURL, :role=>"uploadcare-uploader", :value => "" %>
  <%= f.submit "upload me" %>
<%end%>

<% @doge.pictures.each do |pic| %>        
    <img src= "<%= pic.pictureURL%>">         
 <%end%> 


<%= button_to "Edit my wows ðŸ˜±", "/users/#{@user.id}/doges/#{@doge.id}/edit", method: :get, :class => "btn btn-primary" %>
<%= button_to 'Delete me ðŸ˜¢ no more wows', "/users/#{@user.id}/doges/#{@doge.id}" , method: :delete, data: {confirm: "Are you SUREEE you want to delete #{@doge.dogeName} ðŸ•ðŸ˜¢ ?" }, :class => "btn btn-primary" %>

</body>
</html>