<%= form_for @user do |f| %>

    <div class="label">
      <%=f.label :usermame %>
      <%= f.text_field :username, placeholder: "Username" %>
    </div>

    <div class="label">
      <%=f.label :password %>
      <%= f.text_field :password, placeholder: "Password", 
      type:"password" %>
    </div>

    <div class="label">
      <%=f.label :email %>
      <%= f.text_field :email, placeholder: "Email Address" %>
    </div>

    <div class="label">
      <%=f.label "Location" %>
      <%= f.text_field :location, placeholder: "location" %>
    </div>

     
  
    
    <%= f.submit "Edit hoomans 🙄" , :class => "btn btn-primary"%>
    
  
  <%end%>

  <h5><%= button_to 'Delete me =(', @user , method: :delete %></h5>