<!-- <h1>Create a HOOMAN!!!</h1> -->

  <%= form_for @user do |f| %>
    <div class="label">
      <%=f.label :username %>
      <%= f.text_field :username, placeholder: "Username" %>
    </div>
    <div class="label">
      <%=f.label :password %>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="label">
      <%=f.label :password %>
        <%= f.password_field :password_confirmation, placeholder: "Password AGAIN!" %>
    </div>
    <div class="label">
      <%=f.label :email %>
      <%= f.text_field :email, placeholder: "Email Address" %>
    </div>
    <div class="label">
      <%=f.label :location %>
      <%= f.text_field :location, placeholder: "Where are you?" %>
    </div>

    <%= f.submit "Create da hoomanðŸ˜", :class => "btn btn-primary"%>

  <%end%>